## Tratamento de dados

### Dados da Quantidade de água retirada - Target

In [4]:
import pandas as pd

# Carregar o dataset
df_quant_agua_retirada = pd.read_csv('dados/Quant_agua_retirada.csv')

df_quant_agua_retirada.head()

year_columns = [col for col in df_quant_agua_retirada.columns if col.isdigit() and 1990 <= int(col) <= 2020]

df_filtered = df_quant_agua_retirada.loc[:, ["Country Name"] + year_columns]

df_quant_agua_retirada = df_filtered.dropna()

df_quant_agua_retirada.head(5)

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
1,Africa Eastern and Southern,37.106420,37.290088,39.208555,39.373356,41.953880,43.105390,43.839187,44.586784,45.334380,...,62.796618,90.897739,90.206760,92.689935,95.156360,96.659279,96.930950,97.640204,98.037076,98.377503
2,Afghanistan,24.521345,23.990473,23.460317,22.930160,22.400003,21.869847,21.339690,20.809534,20.282000,...,20.282000,20.282000,20.282000,20.282000,20.282000,20.282000,20.282000,20.282000,20.282000,20.282000
3,Africa Western and Central,16.867525,17.639996,18.427547,19.348702,20.269858,21.179275,22.088730,22.952845,23.904109,...,30.086001,30.175897,30.255009,30.335321,30.664199,30.741378,30.614788,32.040511,32.228108,32.228108
4,Angola,0.517015,0.529354,0.541692,0.554031,0.566369,0.578708,0.591046,0.603385,0.615723,...,0.705700,0.705700,0.705700,0.705700,0.705700,0.705700,0.705700,0.705700,0.705700,0.705700
5,Albania,1.200000,1.191780,1.183560,1.175340,1.167120,1.158900,1.294680,1.430460,1.566240,...,1.149020,1.124340,1.099660,1.074980,0.920000,1.092000,1.091000,0.958000,1.131000,0.786000

### Dados da populacão

In [5]:
df_populacoes = pd.read_csv('dados/populacoes.csv')
year_columns = [col for col in df_populacoes.columns if col.isdigit() and 1990 <= int(col) <= 2020]
df_populacoes = df_populacoes.loc[:, ["Country Name"] + year_columns]
df_populacoes = df_populacoes.dropna()
df_populacoes.head()

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,65712.0,67864.0,70192.0,72360.0,74710.0,77050.0,79417.0,81858.0,84355.0,...,101288.0,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0
1,Africa Eastern and Southern,309890664.0,318544083.0,326933522.0,335625136.0,344418362.0,353466601.0,362985802.0,372352230.0,381715600.0,...,537792950.0,552530654.0,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0
2,Afghanistan,10694796.0,10745167.0,12057433.0,14003760.0,15455555.0,16418912.0,17106595.0,17788819.0,18493132.0,...,29249157.0,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0
3,Africa Western and Central,206739024.0,212172888.0,217966101.0,223788766.0,229675775.0,235861484.0,242200260.0,248713095.0,255482918.0,...,366489204.0,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0
4,Angola,11828638.0,12228691.0,12632507.0,13038270.0,13462031.0,13912253.0,14383350.0,14871146.0,15366864.0,...,24259111.0,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0

#### Dados da área floresta

In [9]:
df_floresta = pd.read_csv('dados/Area_florestal.csv')
year_columns = [col for col in df_floresta.columns if col.isdigit() and 1990 <= int(col) <= 2020]
df_floresta = df_floresta.loc[:, ["Country Name"] + year_columns]
df_floresta = df_floresta.dropna()
df_floresta.head()

,Country Name,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,...,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333,2.333333
1,Africa Eastern and Southern,36.230006,36.078752,35.927499,35.776246,35.624993,35.473739,35.322486,35.171233,35.019980,...,32.370994,31.890654,31.680635,31.470634,31.260420,31.039682,30.824316,30.611512,30.391626,30.174253
2,Afghanistan,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,...,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782,1.852782
3,Africa Western and Central,22.776908,22.658746,22.540583,22.422421,22.304258,22.186096,22.067933,21.949771,21.831608,...,20.586055,20.498099,20.410143,20.322187,20.234231,20.152610,20.071327,19.986100,19.901215,19.816777
4,Angola,63.578070,63.453407,63.328745,63.204082,63.079419,62.954757,62.830094,62.705431,62.580768,...,57.433976,56.988751,56.543526,56.098301,55.653076,55.207845,54.762629,54.317406,53.872175,53.426951